.postMessage {
  word-break: break-word;
  overflow-wrap: anywhere;
  text-overflow: ellipsis;
}

.inlineSubHeader {
  display: inline !important;
  margin-left: 0.25em !important;
}

.imageSegment {
  padding: 0 !important;
}

.vipFont {
  font-family: Mona, Monapo, IPAMonaPGothic, 'MS PGothic', YOzFontAA97;
}