.main.container {
  margin-top: 4em;
}

.postMessage {
  word-break: break-word;
  overflow-wrap: anywhere;
  text-overflow: ellipsis;
}

.inlineSubHeader {
  display: inline !important;
  margin-left: 0.25em !important;
}

.imageSegment {
  padding: 0 !important;
  /* min-width: 250px !important; */
}

.vipFont {
  font-family: Mona, Monapo, IPAMonaPGothic, "MS PGothic", YOzFontAA97;
  font-size: 15px;
}

.tripcode {
  font-weight: normal !important;
  font-style: italic !important;
}

.username {
  color: #b5bd68;
}

.username.sage {
  color: #81a2be;
}

/* a quien estás citando? */
.q {
  color: #080;
}

.postImage {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.imageContainer {
  display: inline-block;
  text-align: center;
  font-size: 0.75em;
  padding-bottom: 1em;
}

.yt .pvw {
  display: none;
}

.ui.comments {
  max-width: none !important;
}

.deleted {
  color: rgba(0, 0, 0, 0.4);
  font-style: italic;
}

.footer {
  margin-top: 3em !important;
  padding: 1em 0 !important;
}

.playerContainer {
  max-width: 400px;
  padding-bottom: 0.75em;
}

.ui.attached:not(.top).header.inverted {
  border-top: 1px solid !important;
  border-radius: 0.28571429rem 0.28571429rem 0 0;
}

.ui.inverted.attached.header.inverted {
  border-color: #555555 !important;
}

.ui.container.inverted {
  background-color: #1c1c1c;
  padding: 0.5em 1em;
}

@media only screen and (max-width: 767.98px) {
  .ui.container.inverted {
    padding: 0;
  }

  .ui.ui.ui.container.main:not(.fluid) {
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
  }

  .iu.container.main {
    margin: 0px !important;
  }
}

.homeContainer.inverted {
  color: #eaeaea !important;
  background-color: #454647 !important;
}

.ui.modal>.content.replyModal {
  padding: 0 !important;
}